body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.pointer {
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.el-message {
    word-break: break-all !important;
    overflow: wrap !important;
}

.el-dropdown [disabled] {
    color: #eee;
}
.mgt-20px {
    margin-top: 20px;
}
.mgr-5px {
    margin-right: 5px;
}
.mgb-20px {
    margin-bottom: 20px;
}
.mgb-5px {
    margin-bottom: 5px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-warning {
    color: #f39c12;
}
.text-danger {
    color: #e74c3c;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.no-border {
    border: 0;
}
.mgb-20px {
    margin-bottom: 20px;
}
.el-card__header {
    font-weight: bold;
}
.help-block {
    color: #888;
    font-size: 15px;
}
.text-muted {
    color: #bdc3c7;
}
.mgt-20px {
    margin-top: 20px;
}
.mgr-5px {
    margin-right: 5px;
}
.mgb-20px {
    margin-bottom: 20px;
}
.mgb-5px {
    margin-bottom: 5px;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-warning {
    color: #f39c12;
}
.text-danger {
    color: #e74c3c;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.no-border {
    border: 0;
}
.el-card__header {
    font-weight: bold;
}
.help-block {
    color: #888;
    font-size: 15px;
}
.text-muted {
    color: #bdc3c7;
}
.el-image-viewer__canvas img {
    background-color: #fff;
}
.el-image__error,
.el-image__inner,
.el-image__placeholder {
    background-color: #eee;
}
.block {
    display: block;
}
.el-footer {
    padding: 0;
    background-color: #ffffff;
}
.font-normal {
    font-weight: normal;
}
@media screen and (max-width: 768px) {
    .mgt-20px {
        margin-top: 15px;
    }
    .el-main {
        padding: 15px;
    }
}

.ext-icon::after {
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    margin-left: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 5px;
    content: "OTHER";
    background-color: #70c9ad;
}

.ext-pdf::after {
    content: "PDF";
    background-color: #ec6660;
}
.ext-ppt::after {
    content: "PPT";
    background-color: #f39c12;
}

.ext-xls::after,
.ext-excel::after {
    content: "XLS";
    background-color: #27ae60;
}

.ext-doc::after,
.ext-word::after {
    content: "DOC";
    background-color: #6095f7;
}

.ext-epub::after {
    content: "EPUB";
    background-color: #70c9ad;
}

.ext-chm::other {
    content: "OTHER";
    background-color: #70c9ad;
}

.ext-code::after {
    content: "CODE";
    background-color: #70c9ad;
}

.ext-mobi::after {
    content: "MOBI";
    background-color: #70c9ad;
}
.ext-txt::after,
.ext-text::after {
    content: "TXT";
    background-color: #34495e;
}
.ext-umd::after {
    content: "UMD";
    background-color: #70c9ad;
}
.ext-other::after {
    content: "OTHER";
    background-color: #70c9ad;
}

.mce-content-body:not([dir="rtl"]) blockquote {
    padding: 10px;
    color: #777;
    font-size: 0.95em;
    background-color: #f6f8fa;
}

.el-page-header__content {
    font-size: 16px;
}

// 自定义滚动条样式，效果类似macOS
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(50, 50, 50, 0.4) rgba(50, 50, 50, 0.4);
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(50, 50, 50, 0.4);
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #dcdde1;
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(50, 50, 50, 0.4);
    }
    ::-webkit-scrollbar-corner {
        background-color: rgba(50, 50, 50, 0.4);
    }
}
.custom-vxe-table {
    min-height: 100px;
    [class*="vxe-"] {
        font-weight: normal;
        .vxe-checkbox--icon {
            font-weight: normal !important;
            font-size: 1.2em;
            color: #ccc;
        }
    }
    .vxe-table--header-wrapper {
        background-color: #f7fbff !important;
        color: #000 !important;
        .vxe-header--column {
            padding: 15px 0;
        }
    }
    .vxe-header--column .vxe-resizable.is--line:before {
        background-color: rgba(218, 233, 248, 0.933) !important;
    }
    /* 行高自适应 */
    .vxe-table .vxe-body--row {
        height: auto !important; /* 禁用固定行高 */
    }
    .vxe-table--render-default .vxe-cell {
        white-space: normal;
    }
}
